
<h2>新建任务</h2>

<form method="post">
	<label>工作任务类别: </label>
	<input type="text" name="type" />
	<br>
	<label>工作任务描述: </label>
	<input type="text" name="task" />
	<br>
	<label>达成情况: </label>
	<input type="text" name="complete" />
	<br>
	<label>工作定性和定量描述: </label>
	<input type="text" name="note" />
	<br>
	<label>实际完成情况概述: </label>
	<input type="text" name="complete" />
	<br>
	<input type="submit" value="新建" />

</form>